<app-menu></app-menu>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Formation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active"><a href="/Formations"></a>Formation</li>
            </ol>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-10">


              <!-- /.card -->
              <!-- Horizontal Form -->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Modifier formation</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal" (ngSubmit) = "onSubmit()">
                  <div class="card-body">

                    <div class="form-group row">
                      <label for="titre" class="col-sm-2 col-form-label">Titre</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id = "titre"
                               name = "titre" [(ngModel)] = "formation.titre" placeholder="titre">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="domaine_id" class="col-sm-2 col-form-label">Domaine </label>
                      <div class="col-sm-10">
                        <select  class="form-control" id = "domaine_id"
                                 name = "domaine_id" [(ngModel)] = "formation.domaine.id" placeholder="Domaine" (change)="selected()">
                          <option *ngFor="let domainee of liste" value="{{domainee.id}}" >
                            {{domainee.libelle}}

                          </option>
                        </select>
                      </div>

                    </div>
                    <div class="form-group row">
                      <label for="annee" class="col-sm-2 col-form-label">Année</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id = "annee"
                               name = "annee" [(ngModel)] = "formation.annee" placeholder="Année">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="type_formation" class="col-sm-2 col-form-label">Type de formation</label>
                      <div class="col-sm-10">
                        <select type="text" class="form-control" id = "type_formation"
                                name = "type_formation" [(ngModel)] = "formation.type_formation" placeholder="type de formation">
                          <option value="national">National</option>
                          <option value="international">International</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nb_session" class="col-sm-2 col-form-label">Nombre de session </label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id = "nb_session"
                               name = "nb_session" [(ngModel)] = "formation.nb_session" placeholder="Nombre de session">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="duree" class="col-sm-2 col-form-label">Durée </label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id = "duree"
                               name = "duree" [(ngModel)] = "formation.duree" placeholder="Duree">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="budget" class="col-sm-2 col-form-label">Budget </label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id = "budget"
                               name = "budget" [(ngModel)] = "formation.budget" placeholder="Budget">
                      </div>
                    </div>




                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-info">Valider</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                  </div>
                  <!-- /.card-footer -->
                </form>
              </div>
              <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->

            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section></section>

  </div>
</div>




</body>
<router-outlet></router-outlet>
