<app-menu></app-menu>
<body class="hold-transition sidebar-mini layout-fixed"  >

    <div class="wrapper" >
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">FORMINET</h1>
          </div><!-- /.col -->
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="card card-success">
        <div class="card-body">
        <p>Bienvenue dans le centre de formation privé le plus grand et le plus prestigieux du Tunis.

          Nous sommes les plus grands en termes de:</p>
          
          <p> 1- Nombre de participants actifs</p>
          <p> 2- Nombre de formations</p> 
          <p>3- Nombre de formateur</p>
        </div>
      </div>
      <div class="card card-success">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-4">
              <div class="card mb-2 bg-gradient-dark">
                <img class="card-img-top" src="assets/img/sigmund.jpg" alt="Dist Photo 1">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                
                
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/img/tim.jpg" alt="Dist Photo 2">
                
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/img/priscilla.jpg" alt="Dist Photo 3">
                <div class="card-img-overlay">
              
                  <p class="card-text pb-1 pt-1 text-white">
                 
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </body>
    <router-outlet></router-outlet>